<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Docs</title>
    <link rel="icon" href="/images/favicon.ico?v=2" type="image/x-icon" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGP0FFSDNC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XGP0FFSDNC');
    </script>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="styles3.css">

          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>


<div class="wrapper">

<div class="grid1">
  <!-- Top row -->
  <nav class="navbar navbar-light">
  <a class=" mr-auto"><h1 class="title" onclick="window.location='/';">LiveCode</h1></a>


            <% if (islog=="true") { %>
              <h2 class="wel"> Welcome <%= name %></h2>
            <% } else { %>

              <button class="btn btn-danger my-2 my-sm-0 button2  "  onClick="window.location='register';">SignUp</button>
              <button class="btn btn-outline-light my-2 my-sm-0 button2"  onClick="window.location='login';">Login</button>


          <%  } %>


    <!-- <button class="btn  my-2 my-sm-0 mr-2 mycol" type="submit" onClick="window.location='premium';"><img src="/images/premium.png" alt="invite"><span class="t">Premium</span></button> -->


</nav>

</div>

<div class="grid2">
<div class="container">
  <h1>Documentation</h1><br><br>
<font color="#333333"><h3>  <b>Getting to know LiveCode.</b><br> </h3>

  LiveCode is a reliable, realtime code sharing platform. A user can join any room anonymously or can login and join in to the room. The homepage is the first page you see after logging into ‘Livecode.in’. It holds key elements to get started with features that have been made available and are pertinent to the performance.
<br>
  The homepage is divided into two blocks: the lower, creative block and the upper, functional one. It subsequently gives documentation for users, access to login and sign up and most importantly to ‘create a room’ for co-worker.
<br><br>

  <h3><b>How to use?</b><br></h3>

  As soon as the room is created by the initializer, a unique sub-domain along with the inceptive domain is created. For example, when ‘livecode.in/27awz’ is created, one can share the typical domain with another with whom work is to be shared. Since it is a world of ease, the distinctive sub-domain that is generated, can be edited (‘livecode.in/happy’) by the end-user, as per their convenience and mood. And, share. Code. With Real time updation. With a quirky communicative chat box at the right side panel. Chat with workmates. Discuss. Comment. Solve. And work with efficiency.
<br>
  There are two tab buttons. Options are available. They are as follows: 'login' and 'invite+' that allow registered users to login and end-users, whether registered or guest, to invite their co-trader in the workspace.
  Instantly, the domain address gets copied to the clipboard of the user's device when 'invite+' button is triggered.
<br><br>

  Workspace panel comes with the ease of typing and editing one's code. Any changes made, gets updated to the shared work panel and the other party exchanging the screen.
<br><br>
  <h3><b>Having an issue? Let us know.</b><br></h3>

  ‘Livecode.in’ provides a significant option to report any problem or issue that needs to be tackled. Simply, click on 'Report a Bug' option just above the right corner chat box panel. Issues will be solved promptly.
<br><br>
  <h3><b>What are the features that are exclusive to Premium Membership?</b></h3>

  To apply for Premium Membership, log in to the ‘livecode.in/premium’ realm. End users are redirected to the premium membership readily. It has features of saving former work on our secure database along with converting their handwritten code to text format and all other default traits of the website.
<br><br>
</div>

  </div>
</div>







    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous">
    </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
