<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<script src="ocrad.js"></script>
<script type="text/javascript">
  function takeimg(){
var image=document.getElementById("cc");
    var string = OCRAD(image);
    alert(string);
  }
</script>
  </head>
  <body>
    <img id="cc" src="/images/d.png" alt="">

  </body>
</html>
