<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post</title>
    <link rel="icon" href="/images/favicon.ico?v=2" type="image/x-icon" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGP0FFSDNC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XGP0FFSDNC');
    </script>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/styles3.css">

          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

  .welc{
    color: white;
    font-size: 1rem;
  }
  .formc{
    margin: 1rem;

    padding: 8px;
    text-align: center;
  }
  .textarea{
    width: 50%;
    height: 50%;
    background-color: rgba(186,198,205,.1);
    padding: 8px;
    color: black;
    border: .5px solid black;
    border-radius: 10px;
    font-family: 'Montserrat'
  }
  .titlee{
    width: 50%;
    background-color: rgba(20,169,235,.1);
    padding: 8px;
    color: black;
    border: .5px solid black;
    border-radius: 10px;
    font-family: 'Montserrat'
  }
  .rdstyle{
    font-size: .7rem;
    color: #a3a3a3;
    text-align: center;

    margin-bottom: .4rem;
    margin-top: .1;
  }
</style>
<script type="text/javascript">
  function myFunction(){
    var title=$(".titlee").val();
    var texta=$(".textarea").val();

    if(title.trim().length==0){
      $(".titlee").css("border-color","red");
      $(".titlee").css("border-width","2px");
      $(".alertnametext").text("Title cannot be empty");
      return false;
    }else if(texta.trim().length==0){
      $(".textarea").css("border-color","red");
      $(".textarea").css("border-width","2px");
      $(".alertcodetext").text("Please enter the code");
      return false;
    }else if(title=="post"){
      $(".titlee").css("border-color","red");
      $(".titlee").css("border-width","2px");
      $(".alertnametext").text("Please use some other name");
      return false;
    }


    return true;
  }
</script>
  </head>

  <body>


<div class="wrapper">

<div class="grid1">
  <!-- Top row -->
  <nav class="navbar navbar-light">
  <a class=" mr-auto"><h1 class="title" onclick="window.location='/';">LiveCode</h1></a>


            <% if (islog=="true") { %>
              <h2 class="welc"> Welcome <%= name %></h2>
            <% } else { %>

              <button class="btn btn-danger my-2 my-sm-0 button2  "  onClick="window.location='/register';">SignUp</button>
              <button class="btn btn-outline-light my-2 my-sm-0 button2"  onClick="window.location='/login';">Login</button>


          <%  } %>


    <!-- <button class="btn  my-2 my-sm-0 mr-2 mycol" type="submit" onClick="window.location='premium';"><img src="/images/premium.png" alt="invite"><span class="t">Premium</span></button> -->


</nav>

</div>

<div class="grid2">
<div class="container">

<form class="formc" action="/user/<%= uname %>/post" onSubmit="return myFunction()" method="post">
  <div class="form-group">
    <label for="text">Title:</label>
  <input class="titlee" type="text" name="title" value="" placeholder="Your title goes here">
    <div class="alertnametext rdstyle">
      <%= error %>

    </div>
  </div>
  <div class="form-group">
    <label for="text">Code:</label>
  <textarea class="textarea" rows='10' name="code" value="" placeholder="Your code goes here"></textarea>
    <div class="alertcodetext rdstyle">

    </div>
  </div>

<input type="submit" class="btn btn-danger"  value="Post">

</form>

</div>

  </div>
</div>







    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous">
    </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
