@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro|Ubuntu&display=swap');
.wrapper, body,html{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
   overflow-x: hidden;
}
.grid1{
  flex: 3;
  background-color: #1b1d25;
  border: 0.5px solid white;
}
.rr{
  flex: 1;
  background-color: #20232b ;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}
#onlinemem{
  color: white;
}
.onlineusers{
  color: green;
}

.report{
  color: grey;
  cursor: pointer;
}
.grid2{
  display: flex;
  flex-direction: row;
  flex:20;
overflow: auto;
overflow-x: hidden;
}

.lines{
  flex:4;
  display: inline-grid ;
  grid-template-columns: 1fr 25fr;
  background-color: #313442;
  border-left: 0.5px solid white;
  border-bottom: 0.5px solid white;
  overflow: auto;
  overflow-x: hidden;
  line-height: 1.6;

}
.p1{
   resize: none;
  padding: 8px;
  background-color: #1b1d25;
  color: #DCDCDC;
  line-height:24px;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.6;


}

.p2{
flex: 1;
border: 0.5px solid white;
padding: 4px;
background-color:#282C35 ;
overflow: auto;

}
.title{
  color: white;
  padding-top: 8px;
  padding-left: 8px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;


}
.myTable{
  list-style-type: none;
  align-items: center;
  color: 	#C8C8C8;
  padding-left: 1px;
  margin-left: 1;
  padding: 8px;
  border-top: .5px solid white;


}
.t{
  font-size: 18px;
  padding: 8px;
  color: white;
}
.im{
  margin-top: -4px;
}
.foooter{
  position: absolute;
  right: 8px;
  bottom: 8px;
}
#input-id2{
  width: 80%;
  padding: 8px;
}
#submit-btn{
  background-color: firebrick;
  color: white;
  padding: 8px;
}
.mainc{
  height: 69%;
 list-style-type: none;
 color: #E8E8E8;
  border-bottom: 0.5px solid white;
  padding-bottom: 8px;
  position: absolute;
  overflow: auto;


}
.mycol{
  background-color: #DC1A1A !important;
  border: 1px solid #DC1A1A !important;
  font-family: 'Ubuntu', sans-serif;


}
.mycol:hover{
  background-color: #1B1D25 !important;
  border: 1px solid #DC1A1A !important;
  font-family: 'Ubuntu', sans-serif;


}
.cc{
  color: green;
}
.model{
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: white;
  border: 1px solid black;
display: none;
  width: 50%;
  height: 200px;
}
.cross{
  position: absolute;
  color: grey;
  font-weight: bold;
  right: 18px;
  top: 18px;
  cursor: pointer;
}
.modeltext{
  font-family: "Montserrat";
  color: #a3a3a3;
  position: absolute;
  font-size: 40px;
  left:8px;
  top: 32px;
}
.ptext{

  font-size: 20px;
  position: absolute;
  top: 90px;
  left: 8px;
}
.ok{
  position: absolute;
  color: white;
  padding: 8px;
  right: 8px;
  bottom: 8px;
  background-color: firebrick;
  font-size: 20px;
  cursor: pointer;
}
